*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    color: white;
    font-family: 'Times New Roman', Times, serif
}

.container{
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.container.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navBar{
    background-color: grey;
    height: 70px;
    color: white;
    width: 100%
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    height: 100%;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    font-size: 1.07rem;
    margin: 0 20px;
}

.one li{
    margin: 0 8px;
    font-size: 1.25rem;
    padding: 5px 10px;
}

.one li:hover{
    cursor: pointer;
    background-color: brown;
    border-radius: 12px;
}

.movies{
    position: relative;
}

.movie{
    display: none;
    position: absolute;
    list-style-type: none;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 3px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.movie li:hover{
    cursor: pointer;
    background-color: transparent;
    border-bottom: 2px solid white;
    border-radius: 0;
}

.search{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 100%;
}

.search img{
   width: 8%;
   margin: 5px;
   padding: 5px;
   border-radius: 50%;
}

.search img:hover{
    background-color: brown;
}

input[name=search]{
    font-size: 1.07rem;
    width: 70%;
    border-radius: 10px;
    padding: 8px;
    height: 50%;
    outline: none;
}

.container.mov{
    background-color: black;
}

.movie-panel{
    height: auto;
    background-color: black;
}

.container.pagi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 50px;
}

.page{
    color: white;
    background-color: black;
    margin: 0 10px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}

.page:hover{
    cursor: pointer;
    background-color: brown;
}

.footer{
    height: 35px;
    background-color: black;
}

.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80px;
}

.container.footer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mov{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 220px;
    border-radius: 20px;
    background-color: white;
    color: #303030;
    margin: 20px;
    padding: 12px;
    font-size: 1.05rem;
    overflow: hidden;
}

.card2{
    width: 400;
    height: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color: #303030;
    margin: 20px;
    padding: 12px;
    font-size: 1.05rem;
    overflow: hidden;
}

.card:hover{
    background-color: #8c8c8c;
}

.card p{
    text-align: center;
}

.card p:hover{
    cursor: pointer;
    color: brown;
}

.card img:hover{
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 90%;
    border-radius: 15px;
}

@media(max-width: 500px){
    .navBar{
        height: auto;
    }
    .container.flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 230px;
        width: 50%
    }

    .search img{
        width: 30%;
    }
    
    .one{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .search{
        justify-content: center;
        margin-bottom: 15px;
    }
    input[type=search]{
        width: 100%;
        padding: 7px;
        height: 30px
    }
}

@media(max-width: 768px){
    .navBar{
        height: auto;
    }
    .container.flex{
        flex-direction: column;
    }
    .logo{
        margin: 20px 0
    }
    .search img{
        width: 24%;
    }
    .one{
        margin: 0;
    }
    .one li{
        margin: 0;
    }
    .search{
        margin-bottom: 15px;
    }
    input[type=search]{
        width: 100%;
    }
}